*{
    margin : 0px;
    padding: 0px;
   
}
.container {
    width: 100%;
    height: 100%;
    
}
.kalkulator{
    width:  500PX;
    height: 300PX;
    background-color: burlywood;
    text-align: center;
    margin: auto;
    margin-top: 12.5%;
    border-radius: 10px;
    padding-top: 1px;
    box-sizing: border-box;

}

.form1 {
    background-color: rgb(222,164,135);
    width:300px ;
    margin: auto;
    margin-top: 40px;
    height: 175px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 4px;

}
.x {
    margin: 5px;
    border-radius: 5px;
    padding: 4px;

}
input.x{
    background-color: transparent;
    border: 1px solid ;
}
body{
     background-color: gray;
}
.asas{
    margin-top: 18px;
}
.tombol {
    width: 60px;
    height: 25px;
    
}
select.x{
    background-color: rgb(190, 186, 186);
}
